---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Linkedin from '../icons/linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Github from '../icons/github.astro';
import Mail from '../icons/mail.astro';
import Briefcase from '../icons/briefcase.astro';
import Experience from '../components/Experience.astro';
import Code from '../icons/code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Portafolio de Gabriel - Desarrollador y Programador"
	description="Desarrollador Web con +1 año de esperiencia usando Laravel, MySQL y React"
>
	<main class="px-4">
		<SectionContainer class="py-20 pb-20">
			<img 
			src="https://i.postimg.cc/gcxCVzsm/Photo-Portfolio.jpg"alt="Gabriel Foto"
			class="rounded-full size-12 mb-4">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hola!, soy Gabriel 
				<a href="https://www.linkedin.com/in/gabriel-alexander-calder%C3%B3n-villeda-729aa1215/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a> 
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span>+1 año de experiencia</span>. <span class="80 text-yellow-200/90">Desarrollador Web</span>. <span class="text-red-200/90">De San Salvador, El Salvador</span>.<span class="opacity-75"> Especializado en Desarrollar Sitios Webs Únicos</span></h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/gabriel-alexander-calder%C3%B3n-villeda-729aa1215/">
					<Linkedin class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ga-b0">
					<Github class="size-4 lg:size-6" />
					Github
				</SocialPill>
				<SocialPill href="https://github.com/ga-b0">
					<Mail class="size-4 lg:size-6" />
					gabrielvilleda8@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-10 flex items-center gap-x-2">
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>


		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-10 flex items-center gap-x-2">
				<Code class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

