---
 const personalImageAlt = "Gabriel Calderón"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-400 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Me llamo Gabriel Calderón pero muchos de mis amigos me llaman Gabo. Soy estudiante de Ingeniería
        en Diseño y Desarrollo de Videojuegos y también en Desarrollo de Software. Me introduje al mundo de la programación con JavaScript cuando tenía 17 años. Desde entonces, me he dedicado mayormente a trabajar con el <strong>Desarrollo Web</strong>
    </p>

    <p>
        Cuento con experiencia trabajando con aplicaciones web, principalmente del lado del <strong>BackEnd</strong>
        utilizando PHP y Laravel en mayor medida, aunque mi tendencia es hacia el lado del FrontEnd. Me considero una persona a la cual le gusta aprender cosas nuevas y aprender de quienes me rodean, pues mi objetivo cada día es formarme y crecer no solo profesionalmente, sino personalmente.
    </p>

    <p>
      Entre mis éxitos puede destacar el hecho de <strong>contribuir</strong> con mi trabajo al <strong>desarrollo</strong> de una <strong>aplicación web</strong> la cual es utilizada por muchas personas.
    </p>
  </div>

  <img width="200" height="200" src="https://i.postimg.cc/gcxCVzsm/Photo-Portfolio.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

