---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Julio 2024 - Presente...",
    title: "Desarrollador de Software",
    company: "Cikume Software",
    description:
      "Actualmente, en Cikume Software, trabajo con el framework Angular, utilizando tecnologías como GraphQL, TypeScript y Angular Material, para un cliente en Estados Unidos. Formo parte de un equipo multicultural, con miembros de diferentes países, enfocado en la creación de un microservicio basado en un sistema legacy. Utilizo metodologías ágiles para implementar nuevas funcionalidades y resolver bugs, contribuyendo al continuo mejoramiento y optimización del sistema.",
  },
  {
    date: "Abril 2023 - Julio 2024 ",
    title: "Programador PHP Jr",
    company: "Sume Clientes",
    description:
      "Actualicé una plataforma basada en Laravel 4.2 a Laravel 9, asegurando compatibilidad y mejorando su rendimiento. Brindé mantenimiento al sistema en su versión antigua, resolviendo incidencias y optimizando su funcionamiento. Trabajé con MySQL para la gestión y optimización de bases de datos, y en el frontend utilicé jQuery para mejorar la experiencia de usuario. Además, brindé soporte técnico a clientes a través de llamadas y chat, resolviendo dudas y asegurando un servicio eficiente.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>