---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Julio 2024 - Actualmente...",
    title: "Desarrollador de Software",
    company: "Cikume Software",
    description:
      "Trabajando actualmente con Angular",
  },
  {
    date: "Abril 2023 - Julio 2024 ",
    title: "Programador PHP Jr",
    company: "Sume Clientes",
    description:
      "Trabajo actualizando una plataforma hecha con Laravel a una versión más actual del framewrok, además de dar mantenimiento al sistema antiguo que también trabaja con Laravel, MySQL y JQuery",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>