<header class="flex px-3 text-sm font-medium rounded-full text-blue-500 dark:text-gray-200 justify-center items-center w-full xl:w-[1120px] mx-auto ">
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-400 dark:text-gray-200 items-center mx-auto gap-4 p-4">
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#educacion">Educación</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="mailto:gabrielvilleda8@gmail.com">Contacto</a>
    </nav>
</header>